body {
    overflow: hidden;
}

.navbar {
    background-color: #1A65B1;
    top: 0;
}

.bi-power {
    color: white;
}

.bi-power:hover {
    opacity: 0.8;
    cursor: pointer;
}

.sidebar {
    height: 100vh;
    background-color: #304257;
    -ms-overflow-style: none;
    scrollbar-width: none;
    max-height: 100vh;
    overflow-y: scroll;
}

.sidebar .nav-button {
    background-color: #304257;
    padding: 15px 10px 15px 10px;
    color: white;
}

.sidebar .nav-button:not(.collapsed) {
    border-color: transparent;
    background-color: #1f2b3a;
}

.sidebar .nav-button.collapsed {
    border-color: transparent;
    background-color: #304257;
    opacity: 0.75;
}

.sidebar .nav-button:hover {
    background-color: #293A4D;
    cursor: pointer;
}

.sidebar .dropdown-item {
    padding: 10px 20px 10px 25px;
}

.sidebar .text {
    font-weight: 550;
}

.sidebar::-webkit-scrollbar {
    display: none;
}

.btn {
    background-color: #304257;
}

hr {
    background-color: #304257;
    height: 3px;
    display: grid;
}

tr {
    height: 70px
}

.type-icon {
    color: #304257;
}

a {
    color: #1A65B1;
}
.source-badge {
    width: 70px;
}

main {
    max-height: 95vh;
    overflow-y: scroll;
}

@media (max-width: 768px) {
    body {
        overflow-y: scroll !important;
    }
    .sidebar {
        overflow-y: visible !important;
        height: fit-content !important;
    }
    main {
        overflow-y: visible !important;
    }
    .navbar {
        flex-direction: column !important;
        height: fit-content !important;
    }
    .navbar-container {
        position: relative;
    }
}


